.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.featured-grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.featured-grid a:hover img {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .featured-grid {
    grid-template-columns: 1fr;
  }
}
