---
layout: default
---

<div class="home">

  {{ content }}
<section class="featured-projects">

<h2>Featured projects</h2>

<div class="featured-grid">

{% for post in site.posts %}
  {% if post.featured %}
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.image | relative_url }}"
           alt="{{ post.title }}">
    </a>
  {% endif %}
{% endfor %}

</div>

</section>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      {{ page.list_title | default: "Posts" }}
    </h2>

    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
